
// Typography

$base-font-size: 16px;
$base-line-height: 20px;

@mixin font-regular {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
}
@mixin font-bold {
  font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
}
@mixin font-light {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
